@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}
header nav {
  width: 75vw;
  height: 15vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6.32vw;
}
header nav .header_all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.2vw;
}
header nav .header_all .header_logo {
  display: flex;
  flex-direction: row;
  width: 6.5vw;
  justify-content: space-between;
  align-items: center;
}
header nav .header_all .header_logo a {
  text-decoration: none;
}
header nav .header_all .header_logo .header_logo_text_black {
  font-size: 0.87rem;
  font-weight: 600;
  color: #311F09;
  font-family: "Poppins", sans-serif;
}
header nav .header_all .header_logo .header_logo_text_black .header_logo_text_yellow {
  color: #FF8A00;
}
header nav .header_all .header_ul {
  width: 44vw;
}
header nav .header_all .header_ul ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 44vw;
  padding: 0;
  margin: 0;
}
header nav .header_all .header_ul ul li {
  display: flex;
  flex-direction: row;
}
header nav .header_all .header_ul ul a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #311F09;
  font-size: 0.87rem;
  transition: color 0.3s ease;
}
header nav .header_all .header_ul ul a:hover {
  color: #FF8A00;
}
header nav .header_all .header_shoplog {
  display: flex;
  align-items: center;
  width: 12vw;
  gap: 1.5vw;
}
header nav .header_all .header_shoplog .header_shoplog_button {
  width: 5.6vw;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.87rem;
  border-radius: 133px;
  background-color: #3FA72F;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.menu {
  width: 99.2vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .menu_all {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu_all .menu_text_main {
  font-family: "Tinos", serif;
  font-size: 5rem;
  font-weight: 700;
  color: #311F09;
  height: 20vh;
}
.menu .menu_all .menu_buttons {
  display: flex;
  gap: 3.42vw;
  align-items: start;
  height: 14vh;
  width: 70vw;
}
.menu .menu_all .menu_buttons button {
  width: 11.4vw;
  height: 7.2vh;
  background-color: rgba(208, 204, 199, 0.1);
  border-radius: 162.94px;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: #311F09;
  border: none;
  transition: 0.3s ease;
}
.menu .menu_all .menu_buttons button:hover {
  background-color: #311F09;
  color: #FFFFFF;
}
.menu .menu_all .menu_all_center_block {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
.menu .menu_all .menu_pasta {
  width: 70vw;
  height: 10vh;
  display: flex;
  align-items: start;
  justify-content: start;
}
.menu .menu_all .menu_pasta .menu_pasta_text {
  font-size: 1.88rem;
  width: 5vw;
  border-bottom: 2px #FF8A00 solid;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
}
.menu .menu_all .menu_card_all_rows {
  display: flex;
  flex-wrap: wrap;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap: 1.5vw;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 560px;
  border-radius: 70px;
  background-color: rgba(208, 204, 199, 0.1);
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_img_main {
  width: 270px;
  height: 270px;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_block1 p {
  height: 4vh;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.87rem;
  align-items: end;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #311F09;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_block1 img {
  width: 164px;
  height: 5.5vh;
  align-items: center;
  display: flex;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_text_nomain {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  color: #59442B;
  width: 70%;
  height: 10vh;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_sell_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_sell_block .menu_sell_block_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
}
.menu .menu_all .menu_card_all_rows .menu_card_one_rows .menu_card .menu_sell_block .menu_sell_block_button {
  font-size: 1rem;
  color: #FFFFFF;
  width: 156px;
  height: 55px;
  border: 0;
  border-radius: 163px;
  background-color: #FF8A00;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.menu .menu_all .menu_card_block2 {
  width: 343px;
  border-radius: 20px;
  height: 102vh;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_button_2 {
  height: 14vh;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_button_2 .menu_card_block2_button {
  background-color: rgba(81, 41, 130, 0.9);
  color: #FFFFFF;
  width: 323px;
  height: 85px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  font-weight: 600;
  border: 0;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row {
  width: 300px;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vh;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_one p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.563rem;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6vh;
  align-items: start;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_two .menu_card_block2_row_two_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 500;
  color: #FF8A00;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_two .menu_card_block2_two_scet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_row .menu_card_block2_row_two .menu_card_block2_two_scet p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_code {
  width: 92%;
  border-top: 0.5px #D0CCC7 dashed;
  border-bottom: 0.5px #D0CCC7 dashed;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_code .menu_card_block2_code_wh {
  width: 300px;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_code .menu_card_block2_code_wh p {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 7vh;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_code .menu_card_block2_code_wh .menu_card_block2_code_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 283px;
  height: 7.5vh;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block2_code .menu_card_block2_code_wh .menu_card_block2_code_input input {
  width: 200px;
  height: 60px;
  background-color: #FAFAF9;
  border-radius: 15px;
  padding: 24px;
  border: 0;
  font-size: 1.25rem;
  color: #0875C3;
  font-family: "Poppins", sans-serif;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 22vh;
  justify-content: end;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block3 .menu_card_block3_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block3 .menu_card_block3_one .menu_card_block3_onetext {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block3 .menu_card_block3_one .menu_card_block3_twotext {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 500;
  color: #FF8A00;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block4_wh {
  height: 10vh;
  display: flex;
  align-items: end;
}
.menu .menu_all .menu_card_block2 .menu_card_block2_wh .menu_card_block2_wh_in_block .menu_card_block4_wh .menu_card_block4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
  width: 283px;
  height: 60px;
  background-color: #3FC66E;
  border: 0;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
.menu .menu_all .menu_footer_all {
  width: 41vw;
}
.menu .menu_all .menu_footer_all .menu_footer {
  width: 21.23vw;
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.menu .menu_all .menu_footer_all .menu_footer .menu_footer_arrow {
  width: 55px;
  height: 55px;
  background-color: #311F09;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}
.menu .menu_all .menu_footer_all .menu_footer .menu_footer_button {
  width: 55px;
  height: 55px;
  border: 0;
  color: #FF8A00;
  font-weight: 600;
  background-color: rgba(255, 138, 0, 0.1);
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.88rem;
  font-family: "Poppins", sans-serif;
}
.menu .menu_all .menu_footer_all .menu_footer .menu_footer_button1 {
  width: 55px;
  height: 55px;
  border: 0;
  color: #B7A28B;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.menu_pizza {
  width: 80vw;
  height: 105vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu_pizza .menu_pasta {
  width: 50vw;
  height: 10vh;
  display: flex;
  align-items: start;
  justify-content: start;
}
.menu_pizza .menu_pasta .menu_pasta_text {
  font-size: 1.88rem;
  width: 5vw;
  border-bottom: 2px #FF8A00 solid;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
}
.menu_pizza .menu_card_all_rows {
  display: flex;
  flex-wrap: wrap;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap: 1.5vw;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 560px;
  border-radius: 70px;
  background-color: rgba(208, 204, 199, 0.1);
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_img_main {
  width: 270px;
  height: 270px;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_block1 p {
  height: 4vh;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.87rem;
  align-items: end;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #311F09;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_block1 img {
  width: 164px;
  height: 5.5vh;
  align-items: center;
  display: flex;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_text_nomain {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  color: #59442B;
  width: 70%;
  height: 10vh;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_sell_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_sell_block .menu_sell_block_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.563rem;
  font-weight: 600;
}
.menu_pizza .menu_card_all_rows .menu_card_one_rows2 .menu_card .menu_sell_block .menu_sell_block_button {
  font-size: 1rem;
  color: #FFFFFF;
  width: 156px;
  height: 55px;
  border: 0;
  border-radius: 163px;
  background-color: #FF8A00;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.menu_footer_all {
  width: 21vw;
}
.menu_footer_all .menu_footer {
  width: 21.23vw;
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.menu_footer_all .menu_footer .menu_footer_arrow {
  width: 55px;
  height: 55px;
  background-color: #311F09;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}
.menu_footer_all .menu_footer .menu_footer_button {
  width: 55px;
  height: 55px;
  border: 0;
  color: #FF8A00;
  font-weight: 600;
  background-color: rgba(255, 138, 0, 0.1);
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.88rem;
  font-family: "Poppins", sans-serif;
}
.menu_footer_all .menu_footer .menu_footer_button1 {
  width: 55px;
  height: 55px;
  border: 0;
  color: #B7A28B;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #311F09;
  width: 99.2vw;
  height: 68vh;
  align-items: center;
  justify-content: center;
  color: #E3E2E0;
  display: grid;
  grid-template-rows: 600px 30px;
}
footer a {
  text-decoration: none;
}
footer .footer_all {
  width: 75vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
}
footer .footer_all .footer_block1 {
  width: 17.2vw;
  height: 31vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer_all .footer_block1 p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 200%;
}
footer .footer_all .footer_block1 .logosoc {
  display: flex;
  gap: 1.3vw;
}
footer .footer_all .footer_block1 .footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 6.5vw;
}
footer .footer_all .footer_block1 .footer_logo p {
  font-family: "Poppins", sans-serif;
  color: #E3E2E0;
  font-weight: 600;
  font-size: 0.875rem;
}
footer .footer_all .footer_block1 .footer_logo span {
  color: #FF8A00;
}
footer .footer_all .footer_block2 {
  display: flex;
  flex-direction: column;
  height: 31vh;
  width: 6vw;
  justify-content: space-between;
}
footer .footer_all .footer_block2 .footer_text {
  font-size: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FF8A00;
}
footer .footer_all .footer_block2 p {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  color: #E3E2E0;
}
footer .footer_all .footer_block3 {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 8vw;
  justify-content: space-between;
}
footer .footer_all .footer_block3 .footer_text {
  font-size: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FF8A00;
}
footer .footer_all .footer_block3 p {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  color: #E3E2E0;
}
footer .footer_all .footer_block4 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  width: 14vw;
  justify-content: space-between;
}
footer .footer_all .footer_block4 .footer_text {
  font-size: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FF8A00;
}
footer .footer_all .footer_block4 p {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  color: #E3E2E0;
}
footer .footer_end {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  gap: 5px;
}/*# sourceMappingURL=stule.css.map */