@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}
header nav {
  width: 75vw;
  height: 15vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6.32vw;
}
header nav .header_all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.2vw;
}
header nav .header_all .header_logo {
  display: flex;
  flex-direction: row;
  width: 6.5vw;
  justify-content: space-between;
  align-items: center;
}
header nav .header_all .header_logo a {
  text-decoration: none;
}
header nav .header_all .header_logo .header_logo_text_black {
  font-size: 0.87rem;
  font-weight: 600;
  color: #311F09;
  font-family: "Poppins", sans-serif;
}
header nav .header_all .header_logo .header_logo_text_black .header_logo_text_yellow {
  color: #FF8A00;
}
header nav .header_all .header_ul {
  width: 44vw;
}
header nav .header_all .header_ul ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 44vw;
  padding: 0;
  margin: 0;
}
header nav .header_all .header_ul ul li {
  display: flex;
  flex-direction: row;
}
header nav .header_all .header_ul ul a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #311F09;
  font-size: 0.87rem;
  transition: color 0.3s ease;
}
header nav .header_all .header_ul ul a:hover {
  color: #FF8A00;
}
header nav .header_all .header_shoplog {
  display: flex;
  align-items: center;
  width: 12vw;
  gap: 1.5vw;
}
header nav .header_all .header_shoplog .header_shoplog_button {
  width: 5.6vw;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.87rem;
  border-radius: 133px;
  background-color: #3FA72F;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.cheak {
  width: 99.2vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cheak .cheak_all {
  width: 54vw;
}
.cheak .cheak_all .cheak_block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35vw;
  height: 25vh;
  align-items: center;
}
.cheak .cheak_all .cheak_block1 p {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 5rem;
  color: #311F09;
}
.cheak .cheak_all .cheak_block2 .cheak_block2_text_main {
  font-size: 1.88rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 8vh;
}
.cheak .cheak_all .cheak_block2 .cheak_block2_input {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 20vh;
}
.cheak .cheak_all .cheak_block2 .cheak_block2_input input {
  width: 866px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
  color: #311F09;
  padding: 40px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border: 0;
}
.cheak .cheak_all .cheak_block2 .cheak_block2_input .cheak_block2_input_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 100px;
  background-color: #749FE0;
  color: #FFFFFF;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.cheak .cheak_all .cheak_block3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_text_main {
  font-size: 1.88rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_input_row1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_input_row1 input {
  width: 540px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
  padding: 40px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border: 0;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_input_row2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_input_row2 input {
  width: 540px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
  padding: 40px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border: 0;
}
.cheak .cheak_all .cheak_block3 .cheak_block3_input_row3 input {
  width: 1112px;
  height: 277px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
  padding: 40px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border: 0;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_text {
  font-size: 1.88rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 7rem;
  display: flex;
  align-items: end;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 80px;
  height: 7vh;
  display: flex;
  align-items: end;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input1 input {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #3FA72F;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input1 p {
  color: #311F09;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input2 input {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #3FA72F;
}
.cheak .cheak_all .cheak_block4 .cheak_block4_input .cheak_block4_input2 p {
  color: #311F09;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.cheak .cheak_all .cheak_block6 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.cheak .cheak_all .cheak_block6 .cheak_block6_text {
  font-size: 1.88rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 13vh;
  display: flex;
  align-items: end;
}
.cheak .cheak_all .cheak_block6 .cheak_block6_text_row1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.cheak .cheak_all .cheak_block6 .cheak_block6_text_row1 .cheak_block6_input1 {
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 20px;
  width: 540px;
  height: 100px;
  border-radius: 20px;
  background-color: rgba(208, 204, 199, 0.1);
  border: 0;
}
.cheak .cheak_all .cheak_block6 .cheak_block6_text_row1 .cheak_block6_input1 input {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #3FA72F;
}
.cheak .cheak_all .cheak_block6 .cheak_block6_text_row1 .cheak_block6_input1 p {
  color: #311F09;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.cheak .cheak_all .cheak_block7 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.cheak .cheak_all .cheak_block7 input {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #311F09;
  height: 20vh;
  display: flex;
  align-items: end;
}
.cheak .cheak_all .cheak_block7 p {
  display: flex;
  align-items: end;
  height: 20vh;
  color: #311F09;
  font-size: 1.88rem;
  font-family: "Poppins", sans-serif;
}
.cheak .cheak_all .cheak_block8 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
.cheak .cheak_all .cheak_block8 .cheak_block8_button {
  width: 540px;
  height: 100px;
  background-color: #FF8A00;
  color: #FFFFFF;
  border: 0;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */